<app-toolbar [componentToolbar]="'dashboard'" (onAddTowerClick)="onAddTowerClick($event)"></app-toolbar>
<mat-tab-group [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Graph RA1">
        <div style="height:800px" *ngIf="selectedTabIndex == 0">
            <div class="tower-grid">

                <barchart style="background-color: white"> ></barchart>


            </div>
        </div>
    </mat-tab>
    <mat-tab label="Graph RA2">
        <div style="height:800px" *ngIf="selectedTabIndex == 1">
            <div class="tower-grid">


                <scatter-graph></scatter-graph>

            </div>
        </div>
    </mat-tab>
    <mat-tab label="Graph RA3">
        <div style="height:800px" *ngIf="selectedTabIndex == 2">
            <div class="tower-grid">

                <barStack></barStack>


            </div>
        </div>
    </mat-tab>
</mat-tab-group>