<div style="background-color: white; margin: 1% 15% 0% 15%;"> 
  <h4 style="text-align:center"> Precio promedio Distritos de NY Hora Pico vs Valle
    <br /><br />
    <button (click)="chargeData()" class="btn btn-primary">Change Data</button>

  </h4><br />
  <div>
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData" [labels]="mbarChartLabels" [options]="barChartOptions"
        [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType"
        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>


  </div>
</div>