<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">

    <h1 class="title">App TestAut</h1>
    <p class="contenido">
      Aplicacion web para la ejecucion y administracion de las pruebas para:
      <br> <img width="4%" src="https://lh3.googleusercontent.com/ZNMnSwFyQ_zwUsAkuV2hNwN4-6PwIKip1Ji9ZKmzZdGWya0iqh6phdBgfZ3XCo4lp70=s180-rw" alt=""> CarReport,
      <br> <img style="background:black" src="https://habitica.files.wordpress.com/2015/09/whitegryphonwordpress1.png?w=60" alt=""> Habitica Web y mobile
    </p>

  </div>
